name: Lint Code Quality

on:
    push:
        branches:
            - "main"
    pull_request:
        branches:
            - "main"

jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Repo
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: "20"
                  cache: "npm"

            - name: Install Dependencies
              run: npm ci

            - name: Run ESLint
              run: npm run lint

            - name: Run Prettier Check
              run: npm run format:check
